# build/ide
.idea
.venv
*.pyc
*.egg-info
build/
dist/
.ruff_cache/
.mypy_cache/
.vscode/settings.json

# dbt directories
dbt/.user.yml
dbt/dbt_packages/
dbt/logs/
dbt/target/
# some dbt directories where created in root
dbt_packages/
logs/
target/

# misc
airflow/
data/
tmp*/